In [1]:
def subtraction(n1,n2):
    return n1-n2

In [2]:
def multiply(n1,n2):
    return n1*n4

In [3]:
def divide(n1, n2):
    try:
        return n1 / n2
    except ZeroDivisionError:
        return "Error: Division by zero is not allowed."

In [4]:
print("Select Operations")
print(
    "1. Addition\n"
    "2. Subtraction\n"
    "3. Multiplication\n"
    "4. Division\n")

Select Operations
1. Addition
2. Subtraction
3. Multiplication
4. Division

In [4]:
try:
    select = int(input("Enter operation 1/2/3/4: "))
    if select not in [1, 2, 3, 4]:
        raise ValueError("Invalid operation selected.")
    
    n1 = int(input("Enter n1: "))
    n2 = int(input("Enter n2: "))

    if select == 1:
        print(sum(n1, n2))
    elif select == 2:
        print(subtraction(n1, n2))
    elif select == 3:
        print(multiply(n1, n2))
    elif select == 4:
        print(divide(n1, n2))
except ValueError as e:
    print(f"Error: {e}")

Enter operation 1/2/3/4:  4
Enter n1:  2
Enter n2:  0

Error: Division by zero is not allowed.